html {
    height: 100%;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

td {
    width: 54px;
    height: 62px;
    vertical-align: middle;
    padding: 0 0;
}

svg {
    width: 54px;
    height: 62px;
}

use {
    stroke: #808080
}

table:nth-child(2n) {
    margin-left: 28px;
}

use {
    fill: none;
}

td[owner-id="0"] use {
    fill: #00BFFF
}
td[owner-id="1"] use {
    fill: #9DF020
}
td[owner-id="2"] use {
    fill: #FFA500
}
td[owner-id="3"] use {
    fill: #FF69B4
}

td:not([owner-id]) use {
    fill: #BFBFBF
}

.can-attack:hover use,
.can-be-attacked:hover use,
.can-upgrade:hover use{
    cursor: pointer;
    fill: #ddd;
}

.can-attack[owner-id="0"]:hover use,
.can-be-attacked[owner-id="0"]:hover use,
.can-upgrade[owner-id="0"]:hover use {
    fill: #4DD2FF;
}


.can-attack[owner-id="1"]:hover use,
.can-be-attacked[owner-id="1"]:hover use,
.can-upgrade[owner-id="1"]:hover use {
    fill: #BCF568;
}

.can-attack[owner-id="2"]:hover use,
.can-be-attacked[owner-id="2"]:hover use,
.can-upgrade[owner-id="2"]:hover use {
    fill: #FFC04D;
}

.can-attack[owner-id="3"]:hover use,
.can-be-attacked[owner-id="3"]:hover use,
.can-upgrade[owner-id="3"]:hover use {
    fill: #FFB5DA;
}

#board {
    width: max-content;
    cursor: default;
}

.attacking use {
    stroke: #e76767;
}

.can-attack .num {
    cursor: pointer;
}

#board table {
    position: relative;
    margin-top: -18px;
}

#board table:first-child {  
    margin-top: 0px;
}

td {
    width: 54px;
    height: 62px;
    vertical-align: middle;
    padding: 0;
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 16px;
    pointer-events: none;
}

.power {
    top: 32%;
    left: 65%;
}

.level {
    top: 68%;
    left: 35%;
}

.score-counter {
    color: white;
    font-size: 20px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #333333;
    cursor: pointer;
}

button:hover {
    background-color: #404040;
}
  

button:active {
    background-color: #303030;
}
